<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="author" href="humans.txt" />

    <meta property="og:title" content="Oscar" />
    <meta property="og:type" website="https://github.com/os222dq/oscar.github.io" />
    <meta property="og:url" content="https://github.com/os222dq/oscar.github.io" />
    <meta property="og:image" content="http://img13.deviantart.net/69d9/i/2014/254/e/c/deviantid_ix_by_dimensionstrain-d7ysexj.jpg" />
</head>
